{% extends 'base.html' %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <h3>{% trans "Change Password" %}</h3>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_set">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </div>
        {% endif %}
        <p>{% trans 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
        
        <!-- {{ form.as_p }} -->
        
        <div class="form-group">
            <label for="id_oldpassword">{% trans 'Old password' %}</label>
            {% for error in form.oldpassword.errors %}
            <p class="my-form-error">{{ error }}</p>
            {% endfor %}
            <input type="password" name="oldpassword" placeholder="Current Password" required="" class="form-control" id="id_oldpassword">
        </div>
        
        <div class="form-group">
            <label for="id_password1">{% trans 'New password' %}</label>
            {% for error in form.password1.errors %}
            <p class="my-form-error">{{ error }}</p>
            {% endfor %}
            <input type="password" minlength="8" maxlength="32" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
            placeholder="Enter a new password" name="password1" id="newPassword1" autocomplete="new-password" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="id_password1">{% trans 'Password (again)' %}</label>
            {% for error in form.password2.errors %}
            <p class="my-form-error">{{ error }}</p>
            {% endfor %}
            <input type="password" name="password2" required class="form-control" id="id_password2"
                placeholder="Password">
        </div>  
        <button type="submit" name="action" class="btn btn-primary">Salva</button>
    </form>
</div>

{% endblock %}