


html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
#main-menu{ height:50px; background:rgb(54, 236, 236); }
#main-footer{ background:#eee; padding: 20px; }

/* Trick per avere Footer sempre in fondo */
body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

#main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.my-form-error {
  color: #fd5d5d;
}

/* ---------------------------------------- */

button.btn-link {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}

button.btn-link:hover{ text-decoration: none}


/* ---------------  ACCOUNT -------------- */

#account-nav{
  border-radius: 0.5rem;
  background: rgb(233, 236, 239);
  border-color: #dddfeb #dddfeb #fff;
  border: 1px;
  font-size: 0.93rem;
}


#account-nav .nav-link{ border: none; color: #6e707e;}
#account-nav .nav-link.active{ background-color: white; color: #4e73df;}