{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">Rankings Graph</h1>
<p class="mb-4">Choose the parent or variant product to visualize.</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="hidden" name="action" value="show_rankings_graph">
  <div class="row">
    <div class="col-3">
        <div class="form-group">
            <label for="prodParentSelect">Parent</label>
            <select class="form-control" id="prodParentSelect" name="productParent">
                <option value="">Choose</option>
                {% for currParent in productParents %}
                {% if currParent == selParent %}
                <option value="{{currParent.pk}}" selected>{{currParent.code}}</option>
                {% else %}
                <option value="{{currParent.pk}}">{{currParent.code}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label for="productSelect">Variant</label>
            <select class="form-control" id="productSelect" name="product">
                <option value="">No selection</option>
                {% for currVariant in products %}
                {% if currVariant == selVariant %}
                <option value="{{currVariant.pk}}" selected>{{currVariant.code}}</option>
                {% else %}
                <option value="{{currVariant.pk}}">{{currVariant.code}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Show Graph</button>
  </div>
</form>

{% if rankTable is not None %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Ranking Graph</h6>
  </div>
  <div class="card-body">
    <p style="font-size: 12px; text-align: right;">Click on a date to see the daily details.</p>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size: 12px;">
        <thead>
          <tr>
            <th style="width: 50px;">MP</th>
            <th style="width: 50px;">Volume</th>
            <th style="width: 50px;">Import.</th>
            {% if viewType == 'parent' %}
            <th style="width: 50px;">Variant</th>
            {% endif %}
            <th style="width: 200px;">Keyword</th>
            {% for col in dates %}
            <th><a href="{% url 'analyze:ranks_graph' %}/detail/{{viewType}}/{{selAsin}}/{{selMP}}/{{col}}">{{col}}</a></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in rankTable %}
            <tr>
              <th>{{row.marketplace}}</th>
              <th>{{row.volume}}</th>
              <th>{{row.importance}}</th>
              {% if viewType == 'parent' %}
              <th style="background-color: {{ row.prodColor }};">{{row.prodSKU}}</th>
              {% endif %}
              <th>{{row.keyword}}</th>
              {% for col in dates %}
                  {% if "/" in col %}
                <td class="rank-cell">{{ row|get_table_item:col }}</td>
                    {% else %}
                    <td>{{ row|get_table_item:col }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}


{% endblock %}

{% block scripts %}
<script>
    selectedCode = ""

    $("#prodParentSelect").change(function (e) {
        selectedCode = this.value

        $('#productSelect').html('')
        $("#productSelect").append($("<option selected = 'selected' />").val("").text("No Selection"));

        fetch("/analyze/api/get_product_variants/" + selectedCode)
            .then(response => response.json())
            .then(data => {
                data.forEach(variant => {
                    $("#productSelect").append($("<option />").val(variant.pk).text(variant.code));
                });
            })
            .catch(error => console.log("Si è verificato un errore!"))
    })

    $("#productSelect").change(function (e) {
        selectedCode = this.value
        if (selectedCode == "") selectedCode = $('#prodParentSelect').val() 
        console.log(selectedCode)
    })


    //$(".rank-cell").filter(function(){return  $(this).attr("data-value") >=1 && $(this).attr("data-value") <=10}).css("background-color", "red");
    $(document).ready(() => {
      // Colore celle
      rankCells = $(".rank-cell")
      rankCells.each(function (index, cell) {
          rank = $(this).text()
          color = '#f45342'
          if (rank < 200) color = '#f46e41'
          if (rank < 100) color = '#F47D41'
          if (rank < 50) color = '#F69743'
          if (rank < 40) color = '#F4B741'
          if (rank < 30) color = '#F4D241'
          if (rank < 20) color = '#f4f141'
          if (rank < 10) color = '#bbf441'
          if (rank < 5) color = '#7cf441'
          if (rank == 0 || rank == '') color = '#f45342'
          if (rank.toLowerCase() == 'none') color = 'rgb(218, 218, 218)'
          $(this).css("background-color",color) 
      })
      //----------------------------
    })
</script>
{% endblock %}
