{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">Rankings Detail</h1>
<p class="mb-4">Rankings details for product {{asin}} on {{dateString}}</p>


{% if rankTable is not None %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Ranking Graph Details</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size: 12px;">
        <thead>
          <tr>
            <th style="width: 50px;">MP</th>
            <th style="width: 50px;">Volume</th>
            <th style="width: 50px;">Import.</th>
            {% if viewType == 'parent' %}
            <th style="width: 50px;">Variant</th>
            {% endif %}
            <th style="width: 200px;">Keyword</th>
            <th>Rank</th>
            <th>Rank Spons.</th>
            <th>Page</th>
            <th>Pos in Page</th>
            <th>Pos in Page Spons.</th>
            <th>Top Seller</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for row in rankTable %}
            <tr>
              <th>{{row.marketplace}}</th>
              <th>{{row.volume}}</th>
              <th>{{row.importance}}</th>
              {% if viewType == 'parent' %}
              <th style="background-color: {{ row.prodColor }};">{{row.prodSKU}}</th>
              {% endif %}
              <th>{{row.keyword}}</th>
              <th class="rank-cell">{{row.rank}}</th>
              <th class="rank-cell">{{row.rank_sponsored}}</th>
              <th>{{row.page}}</th>
              <th>{{row.pos_in_page}}</th>
              <th>{{row.pos_in_page_sponsored}}</th>
              {% if row.amazon_choice %}
              <th style="background-color: #7cf441;">YES</th>
              {% else %}
              <th></th>
              {% endif %}
              <th>{{row.top_seller}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}


{% endblock %}

{% block scripts %}
<script>


    //$(".rank-cell").filter(function(){return  $(this).attr("data-value") >=1 && $(this).attr("data-value") <=10}).css("background-color", "red");
    $(document).ready(() => {
      // Colore celle
      rankCells = $(".rank-cell")
      rankCells.each(function (index, cell) {
          rank = $(this).text()
          color = '#f45342'
          if (rank < 200) color = '#f46e41'
          if (rank < 100) color = '#F47D41'
          if (rank < 50) color = '#F69743'
          if (rank < 40) color = '#F4B741'
          if (rank < 30) color = '#F4D241'
          if (rank < 20) color = '#f4f141'
          if (rank < 10) color = '#bbf441'
          if (rank < 5) color = '#7cf441'
          if (rank == 0 || rank == '') color = '#f45342'
          if (rank.toLowerCase() == 'none') color = 'rgb(218, 218, 218)'
          $(this).css("background-color",color) 
      })
      //----------------------------
    })
</script>
{% endblock %}
